<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pro21</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>action</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  	<!-- load-on-startup 의 값이 1이면 톰캣 서버가 실행시 
  	DispathcerServlet 을 미리 메모리에 로드합니다. 
  	지정하지 않거나 음수로 지정하면 브라우저에서 요청시 메모리에 로드합니다. -->
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>action</servlet-name>
 	<url-pattern>*.do</url-pattern> 
  </servlet-mapping>
</web-app>