@charset "UTF-8";
	* { margin:0px; }
	body { padding:20px; }
	h1, p {
		font-weight:normal;
		margin: 5px 0px;
	}
	#lightBox {
		position:absolute;
		left: 50%;
		margin-left: -400px;
		top: 50%;
		margin-top: -220px;
		
		overflow:hidden;
		width:800px;
		height:560px;
		box-sizing:border-box;
		
		padding:30px;
		background:#333;
		z-index:10;
		display:block;
	}
	#lightBox h1, #lightBox table{
		color:white;
		text-align:center;
		margin-bottom:10px;
	}
	.btnClose{
		position:absolute;
		top:0px;
		right:0px;
		padding:10px;
		color:white;
		font-size:large;
	}
	.btnClose:hover{ background-color:#666; }
	figure{
		width:600px;
		height:350px;
		margin:10px auto;
		overflow:hidden;
	}
	figure img {
		width:600px;
	}
	.indicator { text-align:center; }
	.indicator button {
		background:#666;
		color:white;
		font-size:12px;
		border:none;
		padding:2px 5px;
	}
	.indicator button:hover{ background: #389; }
	.indicator button:focus{ background: #38F; }
	
	#lightBox table{
		width:80%;
		border-collapse:collapse;
		border-spacing:0px;
		table-layout:fixed;
		border-top: #888 1px solid;
		border-bottom: #EEE 1px solid;
		margin:0px auto;
	}
	#lightBox table td{
		border-top:#777 1px solid;
	}